.classpath
.project
.settings/
.gradle
.idea/
bin/
gen/
*.iml
local.properties
manifest-merger-release-report.txt
workspace.xml
import-summary.txt
*.ser
*.bin
*.lock
*.class
*.dex
*.flat
*.log
